/*Import Google Web Font in CSS file: @import url('https://fonts.googleapis.com/css?family=Open+Sans');
Sample skeleton CSS:*/
/*.bookForm{
min-width:
min-height:
margin:
text-align:
}#addBook{
    display: block;
    width:
    height:
    margin:
    margin-top:
    font-weight:
    background-color:
    border-color:
    border-radius:
}#addBook:hover{
    background-color:
    transform:
    transition-duration:
}.showBooks{
    width:
    max-height:
    margin:
    text-align:
}#showBooks{
    display:
    width:
    height:
    margin:
    margin-top:
    font-weight:
    background-color:
    border-color:
    border-radius:
}#showBooks:hover{
    background-color:
    transform: scale(1.1);
    transition-duration: 0.3s;
}.singleBook{
    float:
    width:
    height:
    border:
    border-radius:}*/